.form__fieldset {
    border: 5px solid rgb(0, 155, 108);
    border-radius: 10px;
    background-color: hsl(162, 100%, 90%);
}

.form__label {
    width: 200px;
    display: inline-block;
}

.form__select {
    width: 300px;
    border-radius: 10px;
}

.form__value {
    width: 300px;
    border-radius: 10px;
}

.form__button {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid green;
    background-color: rgba(0, 126, 0, 0.301);
}

.form__result {
    text-align: center;
    margin: 0px;
    padding-top: 90px;
    padding-bottom: 280px;
    color: rgb(0, 22, 219);
    background-image: url(../Images/atmMachine.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.form__title {
    margin: 0px;
    border: 4px solid rgb(0, 155, 108);
    padding: 0px 10px;
    border-radius: 10px;
    background-color: hsl(162, 100%, 90%);
}

